# Copy to .env and adjust as needed. .env is gitignored.

# Log level: debug | info | warn | error =================================
LOG_LEVEL=info

# Log format: text | json ================================================
LOG_FORMAT=text
#LOG_DIR=logs

# LLM Provider API Keys: ==================================================
## Anthropic
ANTHROPIC_API_KEY=***
## DEEPSEEK
DEEPSEEK_API_KEY=***
## OpenAI
OPENAI_API_KEY=***
